#content {
    margin: 2rem ;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #1C1D3D;
    margin-bottom: 2rem;
}

h2 {
    background-color: #1C1D3D;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin-top: 1rem;
}


.tabla-calendario {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    border-radius: 8px;
}

.tabla-calendario th {
    background-color: #ececff;
    font-weight: bold;
}
.tabla-calendario td{
    background-color:#f8f9fc; ;
}
