<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../web/IMG/favicon.png">
    <title>TetuScores</title>
    <link rel="stylesheet" href="../web/CSS/default.css"/>
</head>
<body>
    <div id="nav">
        <div id="logo">
            <a href="../index.php"><img src="../web/IMG/Logo1.png" alt="Logo" width="200px"></a>
        </div>
        <ul id="nav-list">
            <li><a href="admin/liga.html">Liga</a></li>
            <li><a href="admin/noticias.php">Noticias</a></li>
            <li><a href="admin/usuarios.php">Usuarios</a></li>
        </ul>
    </div>

<!-- Contenedor principal de todo el contenido de la página -->
    <div id="content">
        <h1>Panel de Administrador</h1>
        <p>Bienvenido al panel de administración. Aquí puedes gestionar usuarios, noticias y la liga.</p>
    </div>
</body>
</html>